.section2 {
    width: 100%;
    height: auto;
    

    .free-guitar {
        background-image: url(../Mobile.png);
        background-size: cover;
        background-position: center;
        max-width: 1280px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        margin-top: auto;
        left: 50%;
        transform: translateY(50%) translateX(-50%);
        padding: 32px;
        text-align: center;

        h3 {
            font-size: 46px;
            font-weight: 600;
            line-height: 55px;
            color: #FFFFFF;
            width: 90%;

            text-align: center;
        }

        p {
            // max-width: 500px;
            width: 90%;
            max-height: 40px;
            font-size: 24px;
            font-weight: 600;
            line-height: 25px;
            color: white;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 4px;
        }

        button {
            padding: 8px 16px;
            background: #FF753A;
            border-radius: 32px;
            border: none;
            color: white;
            margin-top: 20px;
            font-size: 14px;
            font-weight: 600;
        }
    }

    @media(max-width: 500px) {
       
            .free-guitar {

                h3 {
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 10px;
                    color: #FFFFFF;
                    margin-top: 6px;
                    margin-bottom: px;
                }

                p{

                    font-size: 10px;
                    font-weight: 500;
                    line-height: 14px;

                }
                button{
                    font-size: 12px;
                    font-weight: 600;
                }


            }
    }
    .newproducts{
             display: flex;
             flex-direction: column;
            justify-content: center;
            padding-top: 10%;
            
                img{
                width: 80px;
                object-fit: cover;
                display: none;
               
    
                }
                    h2{
                     font-size: 40px;
                     font-weight: 700;
                     line-height: 50px;
                     text-align: center;
                     color: #505050;
                    }
                @media(max-width:500px){
                        padding-top: 10%;
                        position: relative;
                      
                        img{
                           display: flex;
                           margin-top: 50px;
                           margin-left: 41%;
                         }
                        h2{
                           font-size: 24px;
                           font-weight: 700;
                           text-align: center;
                         }
                } 
    }
    .guitar-box{
           width: 100%;
           height: auto;
           
           display: flex;
           justify-content: center;
           gap: 36px;
           padding: 32px 0;
           flex-wrap: wrap;
               .gitara-1{
                   background: #FFFFFF;
                   border-radius: 10px 10px 10px 10px;
                   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                   width: 400px;
                   height: 380px;
                        .top{
                          width: 100%;
                          height: 60%;
                          background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
                          border-radius: 10px 10px 0px 0px;
                          display: flex;
                          justify-content: center;
                              img{
                                margin-top: -30px;
                                width: 314px;
                                height: 260px;
                                object-fit: cover;
                              }
                        }
                        .bottom{
                           
                            .bottomdiv{
                                display: flex;
                                padding: 16px 24px;
                                .name{
                                  font-size: 18px;
                                  font-weight: 600;
                                }
                                .price{
                                    margin-left: auto;
                                    font-size: 18px;
                                    font-weight: 600;

                                }
                            }
                            .comment{
                                font-size: 16px;
                                font-weight: 500;
                                color: #767676;
                                padding: 0 24px;
                            }
                            .productnumber{
                                margin: 35px 24px;
                                border: 1px solid #EAEAEA;
                                border-radius: 20px;
                                padding: 6px 4px;
                                width: 115px;
                                height: 22px;
                                display: flex;
                              
                                align-items: center;
                                span{
                                    font-size: 12px;
                                    font-weight: 700;
                                    padding-left: 10px;
                                }
                                    font-size: 12px;
                                    font-weight: 500;
                            }
                        }
               }
              
    }






}