* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  padding: 77px 88px;
  align-items: center;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  -o-object-fit: cover;
     object-fit: cover;
}
header .logo p {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
header .logo p span {
  font-size: 24px;
  font-weight: 500;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 56px;
  font-size: 18px;
  font-weight: 600;
}
header .uchchiziq {
  display: none;
  margin-left: auto;
}
header .rightimg {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

@media (max-width: 700px) {
  header {
    padding: 33px 44px;
  }
  header nav,
header .rightimg {
    display: none;
  }
  header .uchchiziq {
    display: flex;
  }
}
.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(../section1img.png);
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.section1 h1 {
  position: relative;
  top: 40%;
  color: white;
  text-align: left;
  max-width: 450px;
  width: 95%;
  font-size: 56px;
  font-weight: 700;
  margin-left: 88px;
}

@media (max-width: 700px) {
  .section1 h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 25px;
    max-width: 500px;
  }
}
.section2 {
  width: 100%;
  height: auto;
}
.section2 .free-guitar {
  background-image: url(../Mobile.png);
  background-size: cover;
  background-position: center;
  max-width: 1280px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  margin-top: auto;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  padding: 32px;
  text-align: center;
}
.section2 .free-guitar h3 {
  font-size: 46px;
  font-weight: 600;
  line-height: 55px;
  color: #FFFFFF;
  width: 90%;
  text-align: center;
}
.section2 .free-guitar p {
  width: 90%;
  max-height: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  color: white;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 4px;
}
.section2 .free-guitar button {
  padding: 8px 16px;
  background: #FF753A;
  border-radius: 32px;
  border: none;
  color: white;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 500px) {
  .section2 .free-guitar h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: px;
  }
  .section2 .free-guitar p {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
  }
  .section2 .free-guitar button {
    font-size: 12px;
    font-weight: 600;
  }
}
.section2 .newproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
}
.section2 .newproducts img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.section2 .newproducts h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #505050;
}
@media (max-width: 500px) {
  .section2 .newproducts {
    padding-top: 10%;
    position: relative;
  }
  .section2 .newproducts img {
    display: flex;
    margin-top: 50px;
    margin-left: 41%;
  }
  .section2 .newproducts h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}
.section2 .guitar-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 36px;
  padding: 32px 0;
  flex-wrap: wrap;
}
.section2 .guitar-box .gitara-1 {
  background: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 380px;
}
.section2 .guitar-box .gitara-1 .top {
  width: 100%;
  height: 60%;
  background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
}
.section2 .guitar-box .gitara-1 .top img {
  margin-top: -30px;
  width: 314px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 .guitar-box .gitara-1 .bottom .bottomdiv {
  display: flex;
  padding: 16px 24px;
}
.section2 .guitar-box .gitara-1 .bottom .bottomdiv .name {
  font-size: 18px;
  font-weight: 600;
}
.section2 .guitar-box .gitara-1 .bottom .bottomdiv .price {
  margin-left: auto;
  font-size: 18px;
  font-weight: 600;
}
.section2 .guitar-box .gitara-1 .bottom .comment {
  font-size: 16px;
  font-weight: 500;
  color: #767676;
  padding: 0 24px;
}
.section2 .guitar-box .gitara-1 .bottom .productnumber {
  margin: 35px 24px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  padding: 6px 4px;
  width: 115px;
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.section2 .guitar-box .gitara-1 .bottom .productnumber span {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}

.section3 {
  width: 100%;
  height: auto;
}
.section3 .newproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
}
.section3 .newproducts img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.section3 .newproducts h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #505050;
}
@media (max-width: 500px) {
  .section3 .newproducts {
    padding-top: 10%;
    position: relative;
  }
  .section3 .newproducts img {
    display: flex;
    margin-top: 50px;
    margin-left: 41%;
  }
  .section3 .newproducts h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}
.section3 .guitar-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 36px;
  padding: 32px 0;
  flex-wrap: wrap;
}
.section3 .guitar-box .gitara-1 {
  background: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 380px;
}
.section3 .guitar-box .gitara-1 .top {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}
.section3 .guitar-box .gitara-1 .top img {
  margin-top: -30px;
  width: 314px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section3 .guitar-box .gitara-1 .bottom .bottomdiv {
  display: flex;
  padding: 16px 24px;
}
.section3 .guitar-box .gitara-1 .bottom .bottomdiv .name {
  font-size: 18px;
  font-weight: 600;
}
.section3 .guitar-box .gitara-1 .bottom .bottomdiv .price {
  margin-left: auto;
  font-size: 18px;
  font-weight: 600;
}
.section3 .guitar-box .gitara-1 .bottom .comment {
  font-size: 16px;
  font-weight: 500;
  color: #767676;
  padding: 0 24px;
}
.section3 .guitar-box .gitara-1 .bottom .productnumber {
  margin: 35px 24px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  padding: 6px 4px;
  width: 115px;
  height: 22px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.section3 .guitar-box .gitara-1 .bottom .productnumber span {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
}

.section4 {
  width: 100%;
  height: auto;
}
.section4 .newproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.section4 .newproducts img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.section4 .newproducts h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #505050;
}
@media (max-width: 500px) {
  .section4 .newproducts {
    padding-top: 15px;
    position: relative;
  }
  .section4 .newproducts img {
    display: flex;
    margin-top: 50px;
    margin-left: 41%;
  }
  .section4 .newproducts h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}
.section4 .product {
  width: 100%;
  height: auto;
  padding: 50px;
}
.section4 .product .box-1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.section4 .product .box-1 .box1-1 {
  width: 616px;
  height: 620px;
  background-color: #252525;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-1 {
    width: 416px;
    height: 420px;
    background-color: #252525;
    border-radius: 10px;
  }
}
.section4 .product .box-1 .box1-1 .box11-1 {
  width: 100%;
  height: 75%;
  background-image: url(../img1.png);
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-1 .box11-1 {
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section4 .product .box-1 .box1-1 .box11-2 {
  width: 100%;
  height: 25%;
}
.section4 .product .box-1 .box1-1 .box11-2 .p1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 32px 0 18px 32px;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-1 .box11-2 .p1 {
    font-size: 24px;
    font-weight: 700;
    padding: 22px 0 12px 22px;
  }
}
.section4 .product .box-1 .box1-1 .box11-2 .p2 {
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 600;
  padding: 0 32px;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-1 .box11-2 .p2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 22px;
  }
}
.section4 .product .box-1 .box1-2 {
  width: 616px;
  height: 620px;
  background: #EAEAEA;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-2 {
    width: 416px;
    height: 420px;
    background-color: #252525;
    border-radius: 10px;
  }
}
.section4 .product .box-1 .box1-2 .box12-1 {
  width: 100%;
  height: 75%;
  background-image: url(../img2.png);
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .section4 .product .box-1 .box1-2 .box12-1 {
    background-size: cover;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.section4 .product .box-1 .box1-2 .box12-2 {
  width: 100%;
  height: 25%;
  background: #EAEAEA;
  border-radius: 0 0 10px 10px;
}
.section4 .product .box-1 .box1-2 .box12-2 .p1 {
  font-size: 24px;
  font-weight: 700;
  color: #202020;
  padding: 32px 0 18px 32px;
}
.section4 .product .box-1 .box1-2 .box12-2 .p2 {
  color: #767676;
  font-size: 18px;
  font-weight: 600;
  padding: 0 32px;
}
.section4 .product .box-2 {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  gap: 35px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 500px) {
  .section4 .product .box-2 {
    padding: 50px 0;
  }
}
.section4 .product .box-2 .box2-1 {
  width: 400px;
  height: 480px;
  background-color: #252525;
  border-radius: 10px;
}
.section4 .product .box-2 .box2-1 .box21-1 {
  width: 100%;
  height: 75%;
}
.section4 .product .box-2 .box2-1 .box21-1 img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section4 .product .box-2 .box2-1 .box21-2 {
  width: 100%;
  height: 25px;
}
.section4 .product .box-2 .box2-1 .box21-2 .p1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding: 32px 0 18px 32px;
}
.section4 .product .box-2 .box2-1 .box21-2 .p2 {
  color: #767676;
  font-size: 18px;
  font-weight: 600;
  padding: 0 32px;
}
.section4 .product .box-2 .box2-2 {
  background-color: #EAEAEA;
  border-radius: 10px;
  width: 400px;
  height: 480px;
}
.section4 .product .box-2 .box2-2 .box21-1 {
  width: 100%;
  height: 75%;
}
.section4 .product .box-2 .box2-2 .box21-1 img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.section4 .product .box-2 .box2-2 .box21-2 {
  width: 100%;
  height: 25px;
}
.section4 .product .box-2 .box2-2 .box21-2 .p1 {
  font-size: 24px;
  font-weight: 700;
  color: #202020;
  padding: 32px 0 18px 32px;
}
.section4 .product .box-2 .box2-2 .box21-2 .p2 {
  color: #767676;
  font-size: 18px;
  font-weight: 600;
  padding: 0 32px;
}

footer {
  width: 100%;
  height: auto;
  background-color: blue;
}
footer .footer-top {
  width: 100%;
  height: 90%;
  background-color: #505050;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  footer .footer-top {
    flex-direction: column;
    justify-content: center;
  }
}
footer .footer-top .fotertop1 {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop1 {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
}
footer .footer-top .fotertop1 .footerright1 img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop1 .footerright1 img {
    margin-left: 35px;
  }
}
footer .footer-top .fotertop1 .footerright1 p {
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-top: 5px;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop1 .footerright1 p {
    text-align: center;
  }
}
footer .footer-top .fotertop1 .footerright1 ul li {
  list-style: none;
}
footer .footer-top .fotertop1 .footerright1 ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop1 .footerright1 ul li a {
    text-align: center;
  }
}
@media (max-width: 500px) {
  footer .footer-top .fotertop1 .footerright2 {
    display: none;
  }
}
footer .footer-top .fotertop1 .footerright2 img {
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-top .fotertop1 .footerright2 p {
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-top: 5px;
}
footer .footer-top .fotertop1 .footerright2 ul li {
  list-style: none;
}
footer .footer-top .fotertop1 .footerright2 ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
footer .footer-top .fotertop2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-top .fotertop2 .footerleft1 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop2 .footerleft1 {
    display: none;
  }
}
footer .footer-top .fotertop2 .footerleft1 p {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
footer .footer-top .fotertop2 .footerleft1 p span {
  font-weight: 500;
}
footer .footer-top .fotertop2 .footerleft2 {
  margin-left: 55px;
  display: flex;
}
@media (max-width: 500px) {
  footer .footer-top .fotertop2 .footerleft2 {
    display: flex;
    margin-left: 100px;
  }
}
footer .footer-top .fotertop2 .footerleft2 img {
  margin-left: 10px;
}
footer .footer-bottom {
  width: 100%;
  height: 10%;
  background-color: #252525;
}
@media (max-width: 500px) {
  footer .footer-bottom {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */